<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <H1>PetFax</H1>
    <div class="callout">
      Greetings to PetFax! Our mission revolves around being a no-kill shelter focused on securing warm and loving homes for our furry companions, all while sharing intriguing facts with the public.
    </div>
    <div class="pets-container">
        {% for pet in pets %}
            <div class="pet">
                <H2>{{ pet.pet_name }}</H2>
                <img src="{{ url_for('static', filename='assets/') }}{{pet.pet_photo}}"/>
                <a href="/pets/{{ pet.pet_id }}">Learn more ⟩</a>
            </div>
        {% endfor %}
    </div>
    <div class="callout">
        Share more facts! <a href="/facts/new">Submit</a>
    </div>
</div>
</body>
</html>